.sectioncursos {
  display: flex;
  margin-bottom: 3rem; }
  .sectioncursos .imgcursos {
    width: 50%; }
    .sectioncursos .imgcursos h3 {
      padding: 2rem;
      font-family: Arial, Helvetica, sans-serif; }
    .sectioncursos .imgcursos img {
      width: 80%;
      margin-top: 50px;
      padding: 0 2rem; }
  .sectioncursos .cursos {
    padding: 1rem;
    width: 50%;
    align-self: center; }
    .sectioncursos .cursos h4 {
      width: 50%;
      align-self: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 2em; }
    .sectioncursos .cursos p {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 200; }
    .sectioncursos .cursos .listaclases {
      font-size: 1.3rem;
      list-style-type: circle;
      font-family: 'Mukta', sans-serif;
      font-weight: 200; }
    .sectioncursos .cursos .precio {
      color: brown;
      box-shadow: 0 0 10px white; }
    .sectioncursos .cursos .material-symbols-outlined {
      font-size: 2.4rem;
      cursor: pointer;
      margin-right: 2rem; }
    .sectioncursos .cursos .codpago {
      width: 13.2em;
      display: flex;
      align-items: center;
      padding: 1rem;
      line-height: -1.5rem;
      font-size: 2rem;
      text-decoration: none;
      color: #026ffd;
      transition: all 1s;
      text-shadow: 0 0 10px; }
      .sectioncursos .cursos .codpago:hover {
        color: aliceblue;
        transition: all 1s;
        box-shadow: 5px 5px 10px; }

.contenedorflex_contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorflex_contacto fieldset {
    width: 100%;
    padding: 30px;
    margin-top: 5rem;
    margin-bottom: 10rem; }
    .contenedorflex_contacto fieldset input {
      margin: 20px;
      width: 90%; }
    .contenedorflex_contacto fieldset textarea {
      width: 90%;
      height: 150px;
      margin: 20px;
      resize: none; }

body .gridcontenedor .header, body .gridcontenedor .main .contenedorflex, body .gridcontenedor .main .contenedorflex .texto1, body .gridcontenedor .main .contenedorflex .noticias, body .gridcontenedor .footer {
  display: flex;
  flex-direction: column; }

.sectionclases {
  display: flex;
  justify-content: space-between; }
  .sectionclases .clases {
    width: 50%;
    margin-left: 1.3rem;
    margin-top: 5rem; }
  .sectionclases .imgcartascontenedor {
    margin-top: 5rem;
    padding: 1rem; }

/* Aca empieza cartas  lunas y expresion*/
.texto2 {
  margin: 3rem 1rem; }
  .texto2 h3 {
    font-weight: bolder; }

.contenedorflexlunas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem; }
  .contenedorflexlunas .imglunas {
    width: 35%;
    transition: all 0.3s; }
    .contenedorflexlunas .imglunas:hover {
      transform: scale(1.1); }

.plunas {
  margin: 0;
  width: 50%; }
  .plunas p {
    margin: 0;
    letter-spacing: 0.5rem;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; }

@media screen and (max-width: 576px) {
  /* Index */
  .header .logosol__nav a h2 {
    font-size: 1.5rem; }
  .container-fluid {
    flex-direction: column-reverse; }
    .container-fluid .navbar-toggler {
      margin-bottom: 5em; }
    .container-fluid .collapse .navbar-nav .nav-link {
      font-size: 1rem;
      margin: 0;
      text-align: center;
      margin-bottom: 17em; }
  .main .contenedorflex #texto1 {
    width: 100%;
    text-align: center; }
  /* cursos */
  .sectioncursos {
    flex-direction: column; }
    .sectioncursos .imgcursos {
      width: 100%; }
      .sectioncursos .imgcursos .imgcursos1 {
        width: 100%; }
    .sectioncursos .cursos {
      width: 80%; }
      .sectioncursos .cursos p {
        width: 100%; }
  /* CLASES */
  .sectionclases {
    flex-direction: column; }
    .sectionclases .clases {
      width: 90%;
      margin: 0 auto; }
      .sectionclases .clases .pacartas {
        width: 90%; }
    .sectionclases .imgcartascontenedor {
      width: 100%; }
      .sectionclases .imgcartascontenedor .imgclases {
        width: 100%; }
  .contenedorflexlunas {
    flex-direction: column; }
    .contenedorflexlunas .imglunas {
      width: 100%; }
    .contenedorflexlunas .plunas {
      width: 100%; }
  /* REEL */
  .contenedorflex_reel {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedorflex_reel .videosol {
      text-align: center; }
      .contenedorflex_reel .videosol .vsol {
        width: 80%;
        margin-top: 4rem;
        margin-bottom: 4rem; } }

.contenedorflex_reel {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorflex_reel .videosol {
    text-align: center; }
    .contenedorflex_reel .videosol video {
      width: 50%;
      margin-top: 4rem;
      margin-bottom: 4rem; }

body .gridcontenedor .header, body .gridcontenedor .main .contenedorflex, body .gridcontenedor .main .contenedorflex .texto1, body .gridcontenedor .main .contenedorflex .noticias, body .gridcontenedor .footer {
  display: flex;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  font-family: 'Mukta', sans-serif; }

body {
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold; }
  body .gridcontenedor {
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr auto 30em;
    grid-template-areas: "header header header header header header header header header header" "main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer"; }
    body .gridcontenedor .header {
      height: 100vh;
      grid-area: header;
      background-color: #b9b9fd;
      justify-content: space-between;
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(../img/Solportadaheader.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
      body .gridcontenedor .header .logosol__nav {
        padding: 28px;
        margin-right: 15em; }
        body .gridcontenedor .header .logosol__nav a {
          text-decoration: none;
          color: wheat;
          text-transform: uppercase;
          font-weight: bold;
          font-family: sans-serif;
          text-shadow: 4px 2px #e763f4;
          text-shadow: 4px 2px #e763f4; }
          body .gridcontenedor .header .logosol__nav a h2 {
            font-size: 2.5rem; }
      body .gridcontenedor .header .navbar {
        width: 90%;
        align-self: center; }
        body .gridcontenedor .header .navbar .container-fluid {
          width: 70%; }
          body .gridcontenedor .header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
            background-color: blueviolet; }
          body .gridcontenedor .header .navbar .container-fluid .collapse .navbar-nav .nav-link {
            margin: 0 5px;
            transition: 0.8s;
            border: 1px solid transparent;
            color: #dedbdb;
            text-decoration: none;
            font-size: 1.5rem;
            font-family: sans-serif;
            letter-spacing: 0.3rem; }
            body .gridcontenedor .header .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
              color: #f0b5e6;
              border: 1px solid;
              border-radius: 2em;
              background-color: #c29797; }
          body .gridcontenedor .header .navbar .container-fluid .collapse .dropdown-menu {
            background-color: #ef95e0; }
            body .gridcontenedor .header .navbar .container-fluid .collapse .dropdown-menu .dropdown-item {
              font-weight: bolder; }
    body .gridcontenedor .main {
      grid-area: main;
      background-color: #f0b5e6; }
      body .gridcontenedor .main .contenedorflex {
        align-items: center; }
        body .gridcontenedor .main .contenedorflex .texto1 {
          width: 60%; }
          body .gridcontenedor .main .contenedorflex .texto1 .parrafoindex {
            width: 90%;
            font-size: 1.1rem;
            padding: 1rem 2rem;
            font-weight: 200;
            margin: 0 auto; }
          body .gridcontenedor .main .contenedorflex .texto1 h3 {
            font-size: 30px;
            padding: 2rem;
            font-family: 'Mukta', sans-serif; }
        body .gridcontenedor .main .contenedorflex .noticias {
          margin: 4rem 0;
          padding: 2rem;
          width: 50%;
          height: 30%;
          box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.75);
          align-items: center;
          justify-content: space-around;
          border: 1px solid black;
          border-radius: 2em; }
          body .gridcontenedor .main .contenedorflex .noticias .titulonoticias {
            font-size: 1.2rem;
            font-family: 'Mukta', sans-serif; }
          body .gridcontenedor .main .contenedorflex .noticias .pnoticias {
            font-weight: 200; }
    body .gridcontenedor .footer {
      grid-area: footer;
      height: auto;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba(238, 200, 200, 0.9); }
      body .gridcontenedor .footer h5 {
        font-size: 1.2rem;
        font-style: italic;
        text-transform: uppercase;
        font-weight: bolder; }
      body .gridcontenedor .footer .redes {
        align-self: center; }
        body .gridcontenedor .footer .redes a {
          margin: 0 1.3rem;
          color: #635d52;
          display: inline-block; }
        body .gridcontenedor .footer .redes i {
          font-size: 1.3rem;
          color: #000; }
