.sectioncursos {
    display: flex;

    .imgcursos {
        width: 40%;

        img{
            width: 90%;
            margin-top: 70px;
        }
    }
    .cursos {
        width: 50%;
        align-self: center;
        h4{
            width: 50%;
            align-self: center;
        }
        p{
            font-size: 15px;
            letter-spacing: 5px;
        }
       
    }
}