.sectioncursos {
    display: flex;

    .imgcursos {
        width: 50%;
        h3{
            padding: 2rem;
        }

        img{
            width: 80%;
            margin-top: 50px;
            padding: 0 2rem;
        }
    }
    .cursos {
        padding: 3rem 1rem ;
        width: 50%;
        align-self: center;
        h4{
            width: 50%;
            align-self: center;
        }
        p{
            font-size: 15px;
            letter-spacing: 5px;
        }
       
    }
}