@import "_utilities";

.sectionclases {
    display: flex;
    justify-content: space-between;
    .clases {
        width: 50%;
        margin-left: 1.3rem;
        margin-top: 5rem;
    }
    .imgcartascontenedor{
        margin-top: 5rem;
        padding: 1rem;
    }
}

/* Aca empieza cartas  lunas y expresion*/

.texto2{
    margin: 3rem 1rem;
    h3{
       
        font-weight: bolder;
    }
    
    
}
.contenedorflexlunas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    
    

   
    
    
    .imglunas {
        
        
       
        width:30%;
        padding: 2rem;
        
        
        transition: all 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }

}

.plunas{
   margin: 0;
    width: 50%;
    p{
        margin: 0;
        line-height: 2rem;
        font-size: 1.3rem;
        
        padding: 2rem;
        
        font-weight: 300;
        transition: all 1.3s;
        &:hover{
            transition: all 1.3s;
            transform: translateY(10px);
            box-shadow: 0 10px 10px ;
        }
        
    }

    #icolunas{
        font-size: 2.4rem;
        cursor: pointer;
        margin-right: 2rem;
     }
    .codpago1{
        width: 20rem;
        margin-top: 11rem;
        margin-left: 2rem;
         display: flex;
         align-items: center;
         padding: 1rem;
         line-height: -1.5rem;
         font-size: 2rem;
         text-decoration: none;
         color: rgb(2, 111, 253);
         transition: all 1s;
         text-shadow: 0 0 10px ;
         &:hover{
             color: aliceblue;
             // background-color: black;
             transition: all 1s;
             box-shadow: 5px 5px 10px;
            }
}       }

